

/*body {
	background-color: black;
}*/

#title {
	color: black;
	text-align: left;
	text-decoration: underline;;
}

.jumbotron {
	background-image: url('http://www.trbimg.com/img-597d08ce/turbine/la-sp-lakers-vander-blue-training-camp-20170729');
	background-size: 100% 100%;
	height: 500px;
	position: relative;
}

h3{
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: black;
	padding-bottom: 20px;
	padding-top: 15px;
	padding-right: 20px;
	padding-left: 10px;
}

th{
	margin-right: 50px;
}

